<p-dialog class="flex justify-center content-center" header="Header" [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw',height:'50vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div
      class=" px-3 py-2 text-sm font-medium w-full flex text-center items-center text-white  rounded-lg focus:ring-4 focus:outline-none focus:ring-green-100 dark:hover:bg-green-500 dark:focus:ring-green-300 button-bg">
      <h1 class="font-bold w-full white-space-nowrap">
        <i class="fas fa-calendar-plus mr-1"></i> Agenda un Turno
      </h1>
    </div>
  </ng-template>
  <div class="w-full  h-full" [style]="{ 'background': '#111827 !important' }">
    <div class=" overflow-x-auto shadow-md sm:rounded-lg">
      <div class="flex justify-center">
        <div
          class="flex justify-between items-center w-full px-2 pt-2 flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">
          <form class="flex items-center" (ngSubmit)="searchPatient()">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
              <!-- Spinner -->
              <div *ngIf="searching" class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3">
                <svg class="animate-spin w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12a9 9 0 0 1 9 9m0-18a9 9 0 0 1 9 9m-9-9a9 9 0 0 0-9 9m9 0a9 9 0 0 1-9 9M12 6v.01"></path>
                </svg>
              </div>
              <div *ngIf="!searching" class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                </svg>
              </div>
              <input type="text" id="table-search-users" [(ngModel)]="searchTerm" name="searchTerm"
                class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="ingresa tres o más caracteres" (input)="onSearchTermChange()">
            </div>
          </form>
          <div class="">
            <span class="pr-2 ">
              Ingrese dni, nombre o apellido
            </span>
          </div>
        </div>
      </div>
      <div class="flex justify-center px-2">
        <table class="w-full text-xs text-left rtl:text-right text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>

              <th scope="col" class="px-6 py-3">
                Paciente
              </th>
              <th scope="col" class="px-6 py-3">
                Dni
              </th>
              <th scope="col" class="px-6 py-3">
                Edad
              </th>
              <th scope="col" class="px-6 py-3">
                Obra Social
              </th>
            </tr>
          </thead>
          <tbody class="">
            <tr  *ngFor="let paciente of patientResults" (click)="addTurnPatient(paciente.dni)" class="cursor-pointer bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                <td  scope="row" class="flex items-center px-6 py-3 text-gray-900 whitespace-nowrap dark:text-white">
                  <!-- <img class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Jese image"> -->
                  <div class="">

                    <div class="text-base font-semibold">{{ paciente.name }} {{ paciente.surname }}</div>
                    <div class="font-normal text-gray-500 ">Hora: {{ hora }} {{ fecha | date:'dd MMM yyyy'}}</div>
                  </div>
                </td>
                <td class="px-6 py-3">
                 {{ paciente.dni }}
                </td>
                <td class="px-6 py-3">
                 {{ paciente.age }}
                </td>
                <td class="px-6 py-3">
                 {{ paciente.healthInsurance }}
                </td>


            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</p-dialog>
