<div class="h-screen overflow-hidden bg-slate-200">

  <!-- <div class="container mx-auto px-4 h-12 flex items-center bg-blue-500 w-screen">
    Primera fila
  </div> -->
  <div class="container mx-auto px-4 h-screen">
    <!-- <div class="flex justify-between mx-36">
      <h2>Acerca de mi...</h2>
      <h2>Usuario conectado</h2>
    </div> -->
    <div class="gap-8 columns-3 flex h-full">
      <!-- Columna 1 -->
      <div class=" justify-center items-center w-40 h-3/4 text-center mt-5">
        <div class="flex flex-col justify-around items-center h-full bg-blue-500 w-full">
          <ul class="h-4/5 bg-green-300 w-full inline-grid justify-center">
            <li class="flex items-center mb-10 w-14 h-14 mt-5 bg-red-200 justify-center "
              (click)="seleccionarIcono('circle-user')" [class.selected]="iconSeleccionado === 'circle-user'">
              <a [routerLink]="">
                <i class="fa-solid fa-circle-user fa-2xl"></i>
              </a>
            </li>
            <li class="flex items-center mb-10  w-14 h-14 bg-red-200 justify-center "
              (click)="seleccionarIcono('hospital')" [class.selected]="iconSeleccionado === 'hospital'">
              <a [routerLink]="">
                <i class="fa-regular fa-hospital fa-2xl"></i>
              </a>
            </li>
            <li class="flex items-center mb-10 w-14 h-14 bg-red-200 justify-center" (click)="seleccionarIcono('users')"
              [class.selected]="iconSeleccionado === 'users'">
              <a [routerLink]="">
                <i class="fa-solid fa-users fa-2xl"></i>
              </a>
            </li>
            <li class="flex items-center mb-10 w-14 h-14 bg-red-200 justify-center"
              (click)="seleccionarIcono('reply-all')" [class.selected]="iconSeleccionado === 'reply-all'">
              <a class="" [routerLink]="">
                <i class="fa-solid fa-reply-all fa-2xl"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Columna 2 -->
      <div *ngIf="iconSeleccionado === 'circle-user'" class="">
        <app-profile-form></app-profile-form>
      </div>
      <div class="columns-4xl p-4 " *ngIf="iconSeleccionado === 'hospital'">
        <app-health-center></app-health-center>
      </div>
    </div>
  </div>
</div>

