<div class="container mx-auto bg-blue-300 max-h-screen overflow-hidden">
  <h1 class=" text-red-500 text-center">Perfil</h1>
  <div class="container mx-auto px-4 h-12 flex items-center bg-blue-500 w-screen">
    Primera fila
  </div>
  <div class="container mx-auto px-4 bg-blue-600 h-screen">
    <div class="flex justify-between mx-32">
     <h2>Acerca de mi...</h2>
     <h2>Usuario conectado</h2>
    </div>

    <div class="gap-8 columns-3 flex bg-yellow-500 h-4/5">
      <div class="grid grid-rows-4 grid-flow-col gap-4 bg-red-400 w-40 text-center">
        <div class="bg-green-300 flex items-center justify-center">Fila 1</div>
        <div class="bg-green-500 flex items-center text-center justify-center">Fila 2</div>
        <div class="bg-green-800 flex items-center text-center justify-center">Fila 3</div>
        <div class="bg-green-700 flex items-center text-center justify-center">Fila 4</div>
      </div>
      <!-- Acerca de mi -->
      <div class="bg-red-700 columns-4xl">
        Columna 2
      </div>
      <div class="bg-red-950 columns-sm" >
        Columna 3
      </div>
    </div>

  </div>

</div>
