<div class=" w-screen h-screen flex flex-row bg-slate-800">
  <!-- Container columna 1 -->
  <div class="w-1/2 flex flex-col ml-10 my-5">
    <div class="w-full h-2/6 flex justify-start items-end">
      <img class=" w-16 h-16 md:w-28 md:h-28 ml-28" src="./../../../assets/img/logo.png" alt="" />
    </div>
    <div class="w-full h-screen flex justify-center items-start ">
      <img class="w-16 h-20 md:w-3/5 md:h-80 ml-12" src="./../../../assets/img/img-login-remove.png" alt="" />
    </div>
  </div>
  <!-- Fin columna 1 -->
  <!-- Container columna 2 -->

  <div class=" w-1/2 flex justify-center items-center border-2 border-l-violet-400 bg-slate-100">

    <div class="form-container w-9/12 mr-10 my-5">
      <div >
        <app-toast-success *ngIf="mostrarToast" [mensaje]="mensajeToast" style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-success>
      </div>
      <div>
        <app-toast-danger *ngIf="mostrarToastDander" [mensaje]="mensajeToast" style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-danger>
      </div>
      <div class="w-full max-w-sm">
        <form [formGroup]="loginForm" class="bg-slate-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <div class="mb-4">

            <label class="inline-block text-slate-100 text-sm font-bold mb-2" for="username">
              Username<span class="ml-2 font-bold text-red-600">*</span>
            </label>
             <!-- Error username -->
             <div *ngIf="email.invalid && (email.dirty || email.touched)" class="inline-block ml-1">
              <div *ngIf="email.errors?.['required']">
                <p class="text-red-500 text-xs italic ">El email es requerido.</p>
              </div>
              <div *ngIf="email.errors?.['email']">
                <p class="text-red-500 text-xs italic ">El email debe tener un formato valido.</p>
              </div>
            </div>
            <!-- Fin error username -->
            <input formControlName="username" (input)="onUsernameInput()" class="shadow border-violet-400 focus:border-yellow-300 appearance-none border-2 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="profesional@gmail.com">
          </div>
          <div class="mb-4">
            <label class="inline-block text-slate-100 text-sm font-bold mb-2 mt-2" for="password">
              Password<span class="ml-2 font-bold text-red-600">*</span>
            </label>
            <!-- Error password -->
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="inline-block ml-1">
              <div *ngIf="password.errors?.['required']">
                <p class="text-red-500 text-xs italic">El password es requerido.</p>
              </div>
              <div class=" " *ngIf="password.invalid && password.hasError('minlength')">
                <p class="text-red-500 text-xs italic">Al menos 8 caracteres.</p>
              </div>
            </div>
            <!-- Fin error password -->
            <input formControlName="password" (input)="onUsernameInput()" class="shadow appearance-none border-2 border-violet-400 focus:border-yellow-300 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
          </div>
          <div class="flex items-center justify-between">
            <button (click)="onSubmit()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
              Ingresar
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" routerLink="/register">
              Crear cuenta!
            </a>
          </div>
        </form>

      </div>
    </div>
  </div>
  <!-- Fin columna 2 -->
</div>
