
  <div class=" mt-4 " >
    <div class="  h-3/4 w-full flex items-center">
        <div class="grid grid-rows-2 grid-flow-col gap-2 mx-10 w-full h-3/5 ">
          <div class=" mb-5 flex items-center">
            <div class="w-full">
              <img class="w-64 h-32" src="./../../../assets/img/centro_remove1.png" alt="Centro medico" />
            </div>
            <div class="w-full">
              <h1 class="font-serif">CENTROS DE SALUD</h1>
              <div class="mt-2">
                <button type="button"
                  class="bg-blue-500 flex text-xs text-white hover:bg-violet-500 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 px-2  rounded py-1">
                  NUEVO CENTRO DE SALUD
                </button>
              </div>
            </div>
          </div>
          <div class=" h-52 mb-5 shadow-2xl overflow-auto rounded ">
            <div class=" mx-2 p-4 ">
              <ul>
                <li class="flex justify-between items-center mb-2">
                  <div>
                    <span class="font-semibold text-sm">Consultorio Tortuguitas</span><br>
                    <span class="text-xs text-slate-500">profesional - pacientes</span>
                  </div>
                  <div>
                    <button class="rounded-full bg-slate-400 w-7 h-7 text-white hover:bg-blue-500 flex-col items-center justify-center mr-2" href=""><i class="fa-regular fa-pen-to-square fa-xs "></i></button>
                    <button class="rounded-full text-white bg-red-600 w-7 h-7 hover:bg-red-500 flex-col items-center justify-center" href=""><i class="fa-regular fa-trash-can fa-xs "></i></button>
                  </div>
                </li>
                <li class="flex justify-between items-center mb-2">
                  <div>
                    <span class="font-semibold text-sm">Consultorio Tortuguitas</span><br>
                    <span class="text-xs text-slate-500">profesional - pacientes</span>
                  </div>
                  <div>
                    <button class="rounded-full bg-slate-400 w-7 h-7 text-white hover:bg-blue-500 flex-col items-center justify-center mr-2" href=""><i class="fa-regular fa-pen-to-square fa-xs "></i></button>
                    <button class="rounded-full text-white bg-red-600 w-7 h-7 hover:bg-red-500 flex-col items-center justify-center" href=""><i class="fa-regular fa-trash-can fa-xs "></i></button>
                  </div>
                </li>
                <li class="flex justify-between items-center mb-2">
                  <div>
                    <span class="font-semibold text-sm">Consultorio Tortuguitas</span><br>
                    <span class="text-xs text-slate-500">profesional - pacientes</span>
                  </div>
                  <div>
                    <button class="rounded-full bg-slate-400 w-7 h-7 text-white hover:bg-blue-500 flex-col items-center justify-center mr-2" href=""><i class="fa-regular fa-pen-to-square fa-xs "></i></button>
                    <button class="rounded-full text-white bg-red-600 w-7 h-7 hover:bg-red-500 flex-col items-center justify-center" href=""><i class="fa-regular fa-trash-can fa-xs "></i></button>
                  </div>
                </li>
                <li class="flex justify-between items-center mb-2">
                  <div>
                    <span class="font-semibold text-sm">Consultorio Tortuguitas</span><br>
                    <span class="text-xs text-slate-500">profesional - pacientes</span>
                  </div>
                  <div>
                    <button class="rounded-full bg-slate-400 w-7 h-7 text-white hover:bg-blue-500 flex-col items-center justify-center mr-2" href=""><i class="fa-regular fa-pen-to-square fa-xs "></i></button>
                    <button class="rounded-full text-white bg-red-600 w-7 h-7 hover:bg-red-500 flex-col items-center justify-center" href=""><i class="fa-regular fa-trash-can fa-xs "></i></button>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>

    </div>
  </div>


<!-- overflow-x-auto max-w-screen-lg -->
