<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>
        <div class="ml-3">
          <a class="flex ms-2 md:me-24 ">
            <img src="../../../../assets/img/logo-nav.png" class="h-9 w-8 " alt="FlowBite Logo" />
          </a>
        </div>
      </div>
      <div class="flex items-center  ">
        <p class="text-slate-50 text-sm ">{{ name }} {{ surname?.slice(0, 4) }}...</p>
        <div class="flex items-center ms-3 mr-3">
          <div>
            <button type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600 "
              aria-expanded="false" data-dropdown-toggle="dropdown-user">
              <span class="sr-only">Open user menu</span>
              <div *ngIf="!image"
                class="relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 flex items-center justify-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
                </svg>
              </div>
              <div *ngIf="imageUrl"
                class="relative w-10 h-10 overflow-hidden  rounded-full  flex items-center justify-center">
                <img class="w-10 h-10 rounded-full" [src]="imageUrl" alt="User Image">
              </div>

            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                {{ name }} {{ surname }}
              </p>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                {{ emailUser }}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a routerLink="/home/user-profile"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-blue-600 dark:hover:text-white"
                  role="menuitem"><i class="fa-solid fa-user-doctor fa-sm"></i> Mi Perfil</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-blue-600 dark:hover:text-white"
                  role="menuitem"><i class="fa-solid fa-power-off fa-sm"></i> Apagar sistema</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Dashboard -->
<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-60 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="/home/view-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-regular fa-calendar-days fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Agendas</span>
          <!-- <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium  rounded-full active">{{
            totalAgendas }}</span> -->
          <span
            class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
            {{ totalAgendas }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/home/view-patients" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-hospital-user fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Pacientes</span>
          <!-- <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium  rounded-full active">{{
            totalPatiens }}</span> -->
          <span
            class="inline-flex items-center justify-center w-4 h-4 ms-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full">
            {{ totalPatiens }}
          </span>
        </a>
      </li>
      <li>
        <a routerLink="/home/search-turn" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-regular fa-calendar-check fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Buscar Turnos</span>
          <!-- <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300"></span> -->
        </a>
      </li>
      <li>
        <a routerLink="/home/mi-consultorio" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-calendar-day fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Resumen del día</span>
          <!-- <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ totalAgendas }}</span> -->
        </a>

      </li>
      <!-- <li>
        <a href="#"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-power-off fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Apaga sistema</span>
        </a>
      </li> -->
    </ul>
  </div>
</aside>
<!-- Toast -->
<div>
  <app-toast-success *ngIf="mostrarToastSuccess" [mensaje]="mensajeToast"
    style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-success>
</div>
<div>
  <app-toast-danger *ngIf="mostrarToastDander" [mensaje]="mensajeToast"
    style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-danger>
</div>
<!-- Body -->
<div class="p-4 sm:ml-60 mt-14 ">
  <div class="grid grid-cols-4 gap-4 ">
    <div class="col-span-3 ">
      <div class="text-sm text-center bg-blue-500 rounded-t-sm text-slate-50 p-2">
        Realiza una busqueda por centros o filtra por dni, nombre, apellido...
      </div>
      <div class="relative min-h-[30rem] bg-gray-800 shadow-md sm:rounded-lg">
        <div
          class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 py-4 px-2 bg-white dark:bg-gray-900">
          <div>
            <button data-dropdown-toggle="dropdownRight" data-dropdown-placement="right"
              class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              type="button">
              <span class="sr-only">Action button</span>
              Centros
              <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4" />
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdownRight"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
              <div *ngIf="centersName && centersName.length > 0">
                <div class="px-1">
                  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRightButton">
                    <li>
                      <a href="#" (click)="selectCenter('Todos', $event)"
                        class="block px-4 py-2 text-left rounded-lg border-cyan-300  hover:bg-gray-100 dark:hover:bg-blue-600 dark:hover:text-white">
                        Todos
                      </a>
                    </li>
                    <li *ngFor="let center of centersName">
                      <a href="#" (click)="selectCenter(center.name, $event)"
                        class="block px-4 py-2 text-left rounded-lg border-cyan-300  hover:bg-gray-100 dark:hover:bg-blue-600 dark:hover:text-white">
                        {{ center.name }}
                      </a>
                    </li>

                  </ul>
                </div>
              </div>



              <!-- <div class="py-1">
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete
                  User</a>
              </div> -->
            </div>
          </div>
          <div *ngIf="selectedCenterName.length > 0">
            <button
              class="relative inline-flex items-center justify-center p-0.5  overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
              <span
                class="relative px-5 py-2 text-xs transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                {{ selectedCenterName }}
              </span>
            </button>
          </div>
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <!-- Spinner -->
              <div *ngIf="searching" class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3">
                <svg class="animate-spin w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12a9 9 0 0 1 9 9m0-18a9 9 0 0 1 9 9m-9-9a9 9 0 0 0-9 9m9 0a9 9 0 0 1-9 9M12 6v.01"></path>
                </svg>
              </div>
              <svg *ngIf="!searching" class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="table-search-users" [(ngModel)]="searchTerm" (ngModelChange)="patientsFilters()"
              class="block pt-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Buscar pacientes">
          </div>
        </div>
        <div class="relative overflow-x-auto shadow-md  overflow-y-auto  max-height ">
          <table class="w-full text-sm text-left rtl:text-righ text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="p-4">
                  <div class="flex items-center">
                    <input id="checkbox-all-search" type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3">
                  Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                  Contacto
                </th>
                <th scope="col" class="px-6 py-3">
                  Edad
                </th>
                <th scope="col" class="px-6 py-3">
                  Configuración
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="patients && patients.length > 0">
                <tr *ngFor="let patient of patients; let i = index"
                  class="border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                  <td class="w-4 p-4">
                    <div class="flex items-center">
                      <input id="checkbox-table-search-1" type="checkbox"
                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                  </td>
                  <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-7 h-7 object-cover rounded-full" src="/assets/img/avatar.png" alt="">
                    <div class="ps-3">
                      <div class="text-base font-semibold">{{ patient.name }} {{ patient.surname }}</div>
                      <div class="font-normal text-gray-500">{{ patient.email }}</div>
                    </div>
                  </td>
                  <td class="px-6 py-4">
                    <i class="fa-brands fa-whatsapp fa-xl"></i> {{ patient.cellphone }}
                  </td>
                  <td class="px-6 py-4">
                    <div class="flex items-center">
                      <!-- <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div> -->
                      <i class="fa-brands fa-pagelines fa-xl mr-1"></i> {{ patient.age }}
                    </div>
                  </td>
                  <td class="px-6 py-4 text-center">
                    <button type="button" (click)="buscarPacienteId(patient.id)" data-modal-target="default-modal"
                      data-modal-toggle="default-modal" type="button"
                      [attr.data-tooltip-target]="'tooltip-default-' + i"
                      class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <div [attr.id]="'tooltip-default-' + i" role="tooltip"
                      class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                      Modificar datos
                      <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <!-- Modal modificar datos paciente -->

                    <div id="default-modal" tabindex="-1" aria-hidden="true"
                      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                      <div class="relative p-4 w-full max-w-4xl max-h-full">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                          <!-- Modal header -->
                          <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                              Modificacion de Paciente
                            </h3>
                            <button type="button"
                              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                              data-modal-hide="default-modal">
                              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                              </svg>
                              <span class="sr-only">Close modal</span>
                            </button>
                          </div>
                          <!-- Modal body -->
                          <div class="p-4 md:p-5 space-y-4">
                            <div
                              class=" text-gray-900 dark:text-white p-4 border-2 bg-slate-800 border-gray-200 border-dashed rounded-lg dark:border-gray-700 ">
                              <!-- <div>
                                <app-toast-success *ngIf="mostrarToastSuccess" [mensaje]="mensajeToast"
                                  style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-success>
                              </div>
                              <div>
                                <app-toast-danger *ngIf="mostrarToastDander" [mensaje]="mensajeToast"
                                  style="position: absolute; top: 10px; right: 10px; z-index: 1000;"></app-toast-danger>
                              </div> -->
                              <form class="" [formGroup]="formUpdatePatient">
                                <!-- <div class="bg-blue-700 mb-2 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">Alta Paciente</div> -->
                                <div class="grid gap-4 mb-2 md:grid-cols-3">
                                  <div>
                                    <label for="name"
                                      class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                      Nombre<span class="ml-2 font-bold text-red-600">*</span></label>
                                    <div
                                      *ngIf="formUpdatePatient.get('name')?.hasError('required') && (formUpdatePatient.get('name')?.dirty || formUpdatePatient.get('name')?.touched)"
                                      class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                                    </div>
                                    <input formControlName="name" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ingresar nombre">
                                  </div>
                                  <div>
                                    <label for="surname"
                                      class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellido<span
                                        class="ml-2 font-bold text-red-600">*</span></label>
                                    <div
                                      *ngIf="formUpdatePatient.get('surname')?.hasError('required') && (formUpdatePatient.get('surname')?.dirty || formUpdatePatient.get('surname')?.touched)"
                                      class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                                    </div>
                                    <input formControlName="surname" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ingrasar apellido">
                                  </div>
                                  <div>
                                    <label for="dni"
                                      class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dni<span
                                        class="ml-2 font-bold text-red-600">*</span></label>

                                    <div
                                      *ngIf="dniControl?.hasError('required') && (formUpdatePatient.get('dni')?.dirty || formUpdatePatient.get('dni')?.touched)"
                                      class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                                    </div>
                                    <div *ngIf="dniControl?.hasError('pattern')" class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Números y 8 o mas dijitos.</p>
                                    </div>
                                    <input formControlName="dni" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ingrsar dni">
                                  </div>
                                  <div class="">
                                    <label for="cellphone"
                                      class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono
                                      -
                                      WhatsApp <span class="ml-2 font-bold text-red-600">*</span></label>
                                    <div
                                      *ngIf="formUpdatePatient.get('cellphone')?.hasError('required') && (formUpdatePatient.get('cellphone')?.dirty || formUpdatePatient.get('cellphone')?.touched)"
                                      class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                                    </div>
                                    <div class="relative">
                                      <div
                                        class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                          xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                                          <path
                                            d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z" />
                                        </svg>
                                      </div>
                                      <input formControlName="cellphone" type="text"
                                        aria-describedby="helper-text-explanation"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        pattern="" placeholder="Cod. Area + Nro. Teléfono">
                                    </div>
                                  </div>

                                  <div class="relative">
                                    <label for="genre"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Genero</label>
                                    <select formControlName="genre"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                      <option selected>Selecciona el género</option>
                                      <option value="Masculino">Masculino</option>
                                      <option value="Femenino">Femenino</option>
                                      <option value="Transgénero">Transgénero</option>

                                    </select>
                                  </div>
                                  <div>
                                    <label for="dateOfBirth"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha
                                      Nacimiento</label>
                                    <input formControlName="dateOfBirth" type="date"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="">
                                  </div>
                                  <div>
                                    <label for="nationality"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nacionalidad</label>

                                    <select formControlName="nationality"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                      <option value="Bolivia">Bolivia</option>
                                      <option value="Argentina" selected="selected">Argentina</option>
                                      <option value="Brasil">Brasil</option>
                                      <option value="Canada">Canada</option>
                                      <option value="Chile">Chile</option>
                                      <option value="Colombia">Colombia</option>
                                      <option value="Costa Rica">Costa Rica</option>
                                      <option value="Ecuador">Ecuador</option>
                                      <option value="El Salvador">El Salvador</option>
                                      <option value="España">España</option>
                                      <option value="Estados Unidos">Estados Unidos</option>
                                      <option value="Guatemala">Guatemala</option>
                                      <option value="Honduras">Honduras</option>
                                      <option value="Mexico">Mexico</option>
                                      <option value="Nicaragua">Nicaragua</option>
                                      <option value="Paname">Panama</option>
                                      <option value="Paraguay">Paraguay</option>
                                      <option value="Peru">Peru</option>
                                      <option value="República Dominicana">República Dominicana</option>
                                      <option value="Uruguay">Uruguay</option>
                                      <option value="Venezuela">Venezuela</option>

                                    </select>
                                  </div>
                                  <div>
                                    <label for="address"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Dirección</label>
                                    <input formControlName="address" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ej: Barrio 24 de febrero">
                                  </div>
                                  <div>
                                    <label for="age"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                      Edad</label>
                                    <input formControlName="age" type="number" id="age" name="age"
                                      aria-describedby="helper-text-explanation"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-3 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="30" />
                                  </div>
                                </div>
                                <div class="grid gap-4 mb-2 md:grid-cols-3 ">
                                  <div class="mb-2 ">
                                    <label for="healthInsurance"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Obra
                                      Social</label>
                                    <input formControlName="healthInsurance" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ej: Pami">
                                  </div>
                                  <div class="mb-2 ">
                                    <label for="plan"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Plan</label>
                                    <input formControlName="plan" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="">
                                  </div>
                                  <div class="mb-2 ">
                                    <label for="affiliateNumber"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nro.
                                      afiliado</label>
                                    <input formControlName="affiliateNumber" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="">
                                  </div>
                                </div>
                                <div class="grid gap-4 mb-2 md:grid-cols-4 ">
                                  <div class="mb-2 ">
                                    <label for="email"
                                      class="inline-block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email<span
                                        class="ml-2 font-bold text-red-600">*</span></label>
                                    <div
                                      *ngIf="emailControl?.hasError('required') && (formUpdatePatient.get('email')?.dirty || formUpdatePatient.get('email')?.touched)"
                                      class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">El email es obligatorio.</p>
                                    </div>
                                    <div *ngIf="emailControl?.hasError('email')" class="inline-block ml-1">
                                      <p class="text-red-500 text-xs italic ml-1">Ingresa un email válido.</p>
                                    </div>

                                    <input formControlName="email" type="email"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="paciente@gmail.com">
                                  </div>
                                  <div class="mb-2 ">
                                    <label for="province"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Provincia</label>
                                    <input formControlName="province" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ej: Buenos Aires">
                                  </div>
                                  <div class="mb-2 ">
                                    <label for="profession"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profesión</label>
                                    <input formControlName="profession" type="text"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="Ej: operario">
                                  </div>
                                  <div class="mb-2">
                                    <label for="landline"
                                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono de
                                      linea
                                    </label>
                                    <div class="relative">
                                      <div
                                        class="absolute inset-y-0 start-0 top-0 flex items-center ps-3.5 pointer-events-none">
                                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                          xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 19 18">
                                          <path
                                            d="M18 13.446a3.02 3.02 0 0 0-.946-1.985l-1.4-1.4a3.054 3.054 0 0 0-4.218 0l-.7.7a.983.983 0 0 1-1.39 0l-2.1-2.1a.983.983 0 0 1 0-1.389l.7-.7a2.98 2.98 0 0 0 0-4.217l-1.4-1.4a2.824 2.824 0 0 0-4.218 0c-3.619 3.619-3 8.229 1.752 12.979C6.785 16.639 9.45 18 11.912 18a7.175 7.175 0 0 0 5.139-2.325A2.9 2.9 0 0 0 18 13.446Z" />
                                        </svg>
                                      </div>
                                      <input formControlName="landline" type="text"
                                        aria-describedby="helper-text-explanation"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        pattern="" placeholder="02320-449835 ">
                                    </div>
                                  </div>
                                </div>

                                <button type="button" (click)="updatePatient()"
                                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                  Actualizar
                                </button>
                              </form>
                            </div>
                          </div>
                          <!-- Modal footer -->

                        </div>
                      </div>
                    </div>
                    <!-- Fin Modal  -->
                    <!-- <a type="button"
                      [attr.data-tooltip-target]="'tooltip-medical-' + i"
                      class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">
                      <i class="fa-solid fa-suitcase-medical"></i>
                    </a>
                    <div [attr.id]="'tooltip-medical-' + i" role="tooltip"
                      class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                      Ir a ficha del paciente
                      <div class="tooltip-arrow" data-popper-arrow></div>
                    </div> -->
                    <button type="button" [attr.data-tooltip-target]="'tooltip-turns-' + i"
                      data-modal-target="popup-modal" data-modal-toggle="popup-modal"
                      class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                    <div [attr.id]="'tooltip-turns-' + i" role="tooltip"
                      class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                      Borrar paciente
                      <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <!-- Modal eliminar paciente -->
                    <div id="popup-modal" tabindex="-1"
                      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                      <div class="relative p-4 w-full max-w-md max-h-full">
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                          <button type="button"
                            class="absolute top-3 end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                            data-modal-hide="popup-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                              viewBox="0 0 14 14">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                            </svg>
                            <span class="sr-only">Close modal</span>
                          </button>
                          <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <h6 class="mb-5 text-sm font-normal text-gray-500 dark:text-gray-400">
                              ¿Está seguro de eliminar al paciente? Esta acción lo eliminará de todos los centros de
                              salud.
                              Si desea eliminar un paciente de un centro de salud específico, puede dirigirse a la
                              sección de
                              <button class="text-blue-500 font-semibold" data-modal-hide="popup-modal"
                                routerLink="/home/center">Centros de salud</button> y eliminar al paciente desde allí.
                            </h6>
                            <button data-modal-hide="popup-modal" type="button" (click)="deletePatientById(patient.id)"
                              class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center">
                              Si, eliminar
                            </button>
                            <button data-modal-hide="popup-modal" type="button"
                              class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">No,
                              cancelar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
          <div class="padding-ngif bg-slate-800 shadow-md" *ngIf="patients.length === 0 && totalPatiens > 0">
            <h2 class="text-center text-gray-50">
              Realiza una busqueda para ver pacientes...
            </h2>
            <h6 class="text-center text-xs text-gray-50">
              Recuerda seleccionar un centro o buscar por dni, nombre, apellido...
            </h6>
          </div>
          <div class="padding-ngif bg-slate-800 shadow-md" *ngIf="totalPatiens === 0">
            <h2 class="text-center mb-2 text-gray-50">
              Aun no tienes pacientes agendados...
            </h2>
            <h6 class="text-center font-semibold text-sm text-blue-600 hover:text-blue-400">
              <a routerLink="/home/create-patients">Crear pacientes...</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <!-- Segunda columna -->
    <div class="flex items-center ">
      <!-- Contenedor del gráfico -->
      <div
        class="flex items-center mx-auto border-gray-900 dark:bg-gray-800 dark:border-gray-800 border-[10px] rounded-[2.5rem] h-[350px] w-[250px]">
        <!-- Aquí irá el gráfico -->
        <canvas id="genderChart" width="450" height="450"></canvas>
      </div>
    </div>
  </div>
</div>
