<!-- NavBar -->
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar"
          type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
            </path>
          </svg>
        </button>
        <div class="ml-3">
          <a class="flex ms-2 md:me-24 ">
            <img src="../../../../assets/img/logo-nav.png" class="h-7 w-7 " alt="FlowBite Logo" />
          </a>
        </div>
      </div>
      <div class="flex items-center">
        <div class="flex items-center ms-3 mr-3">
          <div>
            <button type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false" data-dropdown-toggle="dropdown-user">
              <span class="sr-only">Open user menu</span>
              <div
                class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 flex items-center justify-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
                </svg>
              </div>

            </button>
          </div>
          <div
          class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
          id="dropdown-user">
          <div class="px-4 py-3" role="none">
            <p class="text-sm text-gray-900 dark:text-white" role="none">
              {{ name }} {{ surname }}
            </p>
            <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
              {{ emailUser }}
            </p>
          </div>
          <ul class="py-1" role="none">
            <li>
              <a routerLink="/home/user-profile"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                role="menuitem"><i class="fa-solid fa-user-doctor fa-sm"></i> Mi Perfil</a>
            </li>
            <li>
              <a href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                role="menuitem"><i class="fa-solid fa-power-off fa-sm"></i> Apagar sistema</a>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Dashboard -->
<aside id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-60 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
  aria-label="Sidebar">
  <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <a routerLink="/home/user-profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-user-doctor fa-lg"></i>
          <span class="ms-3">Perfil</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/center" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-regular fa-hospital fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Centros</span>
          <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ totalAgendas }}</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/create-patients" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-hospital-user fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Pacientes</span>
          <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">{{ totalPatients }}</span>
        </a>
      </li>
      <li>
        <a routerLink="/home/schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-regular fa-clock fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Horarios</span>
          <!-- <span
            class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span> -->
        </a>
      </li>
      <li>
        <a routerLink="/home/view-schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
          <i class="fa-solid fa-reply-all fa-lg"></i>
          <span class="flex-1 ms-3 whitespace-nowrap">Volver</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
<!-- Body -->
<div class="p-4 sm:ml-64">
  <div class="p-4  border-gray-200 rounded-lg dark:border-gray-700 mt-14">
    <ng-container *ngIf="iconSeleccionado === 'profile' || iconSeleccionado === ''">
      <div class="grid md:grid-cols-3  gap-4">
        <!-- Columna 2 profile -->
        <div class="col-span-2">
          <form [formGroup]="updateForm" class="bg-slate-800 p-3  rounded">
            <div class="grid md:grid-cols-3 gap-4">
              <div class="md:col-span-1 sm:col-span-3 justify-center">
                <label for="title" class="inline-block text-sm font-semibold leading-6 text-white">Titulo<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('title')?.hasError('required') && (updateForm.get('title')?.dirty || updateForm.get('title')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <select name="title" formControlName="title" autocomplete="title"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <option value="">-</option>
                  <option value="Dr.">Dr.</option>
                  <option value="Dra.">Dra.</option>
                  <option value="Lic.">Lic.</option>
                </select>
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="name" class="inline-block text-sm font-semibold leading-6 text-white">Nombre<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('name')?.hasError('required') && (updateForm.get('name')?.dirty || updateForm.get('name')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="name" type="text" name="nombre" autocomplete="Ingrese el nombre"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="lastname" class="inline-block text-sm font-semibold leading-6 text-white">Apellido<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('lastname')?.hasError('required') && (updateForm.get('lastname')?.dirty || updateForm.get('lastname')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="lastname" type="text" name="lastname" autocomplete="Ingrese el apellido"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="domicile" class="inline-block text-sm font-semibold leading-6 text-white">Domicilio<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('domicile')?.hasError('required') && (updateForm.get('domicile')?.dirty || updateForm.get('domicile')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="domicile" type="text" name="domicile"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="province" class="inline-block text-sm font-semibold leading-6 text-white">Provincia<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('province')?.hasError('required') && (updateForm.get('province')?.dirty || updateForm.get('province')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="province" type="text" name="province"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="phone" class="inline-block text-sm font-semibold leading-6 text-white">Teléfono<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('phone')?.hasError('required') && (updateForm.get('phone')?.dirty || updateForm.get('phone')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="phone" type="text" name="phone"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="city" class="inline-block text-sm font-semibold leading-6 text-white">Ciudad<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('city')?.hasError('required') && (updateForm.get('city')?.dirty || updateForm.get('city')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="city" type="text" name="city"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="country" class="inline-block text-sm font-semibold leading-6 text-white">Pais<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('country')?.hasError('required') && (updateForm.get('country')?.dirty || updateForm.get('country')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <select formControlName="country" name="country"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <option value="" selected>-</option>
                  <option *ngFor="let country of countries" [value]="country.label">
                    {{country.label}}
                  </option>
                </select>
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="whatsapp" class="inline-block text-sm font-semibold leading-6 text-white">WhatsApp<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('whatsapp')?.hasError('required') && (updateForm.get('whatsapp')?.dirty || updateForm.get('whatsapp')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="whatsapp" type="text" name="whatsapp"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="specialty" class="inline-block text-sm font-semibold leading-6 text-white">Especialidad<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('specialty')?.hasError('required') && (updateForm.get('specialty')?.dirty || updateForm.get('specialty')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <select formControlName="specialty" name="specialty"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                  <option value="" selected>-</option>
                  <option *ngFor="let specialty of specialties" [value]="specialty.label">
                    {{specialty.label}}
                  </option>
                </select>
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="mat_nac" class="inline-block text-sm font-semibold leading-6 text-white">Mat.Nac<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('mat_nac')?.hasError('required') && (updateForm.get('mat-nac')?.dirty || updateForm.get('mat_nac')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="mat_nac" type="text" id="mat_nac" name="mat_nac"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="md:col-span-1 sm:col-span-3">
                <label for="mat_prov" class="inline-block text-sm font-semibold leading-6 text-white">Mat.Prov<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('mat_prov')?.hasError('required') && (updateForm.get('mat-prov')?.dirty || updateForm.get('mat_prov')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <input formControlName="mat_prov" type="text" id="mat_prov" name="mat_prov"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              </div>
              <div class="col-span-3  ">
                <label for="presentation"
                  class="inline-block text-sm font-semibold leading-6 text-white">Presentación<span
                    class="ml-2 font-bold text-red-600">*</span></label>
                <div
                  *ngIf="updateForm.get('presentation')?.hasError('required') && (updateForm.get('presentation')?.dirty || updateForm.get('presentation')?.touched)"
                  class="inline-block ml-1">
                  <p class="text-red-500 text-xs italic ml-1">Es requerido.</p>
                </div>
                <textarea formControlName="presentation" name="presentation"
                  class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </textarea>
              </div>
              <div class="col-span-3 flex justify-end">
                <button type="button" (click)="updateProfileComponent()"
                  class="bg-blue-500 text-white hover:bg-blue-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 px-2 text-sm rounded py-1">ACTUALIZAR</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Columna 3 profile -->
        <div class="text-center columns-xs rounded justify-center bg-slate-50 ">
          <div class=" ">
            <div class="py-2">
              <h1 class="text-slate-400 font-bold"> Acceso al Sistema</h1>
            </div>
            <div class="mx-2 border-2 border-violet-400 rounded mt-2">
              <div class="flex justify-center my-2 mx-2 text-xs text-gray-500">
                <p>Usuario</p>
              </div>
              <div class="flex justify-center my-2 mx-2 text-sm font-semibold">
                <p>{{username}}</p>
              </div>
            </div>
            <div class=" mt-4 flex justify-center">
              <img class=" h-12 w-12 rounded-3xl ring-2 ring-white"
                src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="">
            </div>
            <div class="mt-3">
              <button type="button"
                class="bg-blue-500 text-white hover:bg-blue-600 active:bg-violet-700 focus:outline-none focus:ring focus:ring-violet-300 px-2 text-sm rounded py-1">CAMBIAR</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</div>
