<!-- <section class="">

  <div class="columns-2 h-screen">
    <div class="columns-1   w-full h-full ">
      <div class="mx-10  mt-5 ">
        <img class="ml-10 logo-login" src="assets/img/logo-login.png" alt="Logo Login">
      </div>
      <div class="mx-10 my-3  ">
        <img class="ml-10 img-login" src="assets/img/img-login.png" alt="Imagen Formulario">
      </div>
    </div>
    <div class="place-items-stretch bg-blue-800  grid columns-1  w-full h-full">
      <div class="  place-items-center grid bg-yellow-500 ">
          <p>{{erroresComunes}}</p>
          <form  [formGroup]="loginForm"  class="ml-1 mr-10 w-10/12 bg-green-600">
            <p class="titulo-login my-10">Login</p>
              <label for="username">Email</label>
              <input type="email" id="username" name="username" formControlName="username">
              <div *ngIf="erroresDeValidacion">
                <div class="text-red-800">

                  <ul>
                    <li *ngFor="let error of erroresDeValidacion | keyvalue">
                      {{error.key === 'username' ? error.value : ''}}
                    </li>
                  </ul>
                </div>
              </div>
                <label for="password">Password</label>
                <input  type="password" id="password" name="password" formControlName="password">
                <div class="" *ngIf="erroresDeValidacion">
                  <div class="text-red-800">

                    <ul class="">
                      <li class="" *ngFor="let error of erroresDeValidacion | keyvalue">
                        {{error.key === 'password' ? error.value : ''}}
                      </li>
                    </ul>
                  </div>
                </div>

              <p class=" my-8 olvide-pass">Olvide mi contraseña</p>
              <div class="my-5 flex place-content-center">



                <button type="submit"[disabled]="loginForm.invalid" (click)="onSubmit()" class="button button3">Iniciar sesion</button>

              </div>
              <div class="my-8 flex place-content-center">
                <p class="craar-cuenta mr-2">¿Todavía no tienes una cuenta? </p> <a href=""><span style="color: #6867E9; font-weight: bold;">Crear ahora</span> </a>
              </div>


          </form>
      </div>
    </div>

  </div>

</section> -->

<div class="bg-white w-screen h-screen flex flex-row ">
  <div class=" w-1/2 h-10/12 flex flex-col">

    <div class="w-full h-2/5">

        <img
                class=" w-20 h-20 md:w-32 md:h-32 ml-14 "
                src="./../../../assets/img/logo.png"
                alt=""
              />
    </div>
    <div class="w-full h-5/6 flex justify-start items-start">

        <img
                class=" w-20 h-20 md:w-9/12 md:h-full ml-16 "
                src="./../../../assets/img/3905531 1.png"
                alt=""
              />
    </div>
  </div>
  <div class=" bg-white w-1/2 flex justify-center items-center">
    <div class="form-container w-9/12 bg-white">
        <form [formGroup]="loginForm" class="p-12 flex flex-col gap-8 w-full max-w-2xl bg-white ">
            <div class="flex justify-center items-center">
                <h1 class="text-indigo-600 text-2xl font-inter font-medium break-words"> Login</h1>
            </div>
            <div class="flex flex-col">
                <div class="input-container">
                    <input type="email" id="username" formControlName="username"  required />
                    <label for="username" class="text-dark">Email</label>
                </div>
                <div *ngIf="erroresDeValidacion">
                  <div class="text-red-800">
                   <ul>
                      <li *ngFor="let error of erroresDeValidacion | keyvalue">
                        {{error.key === 'username' ? error.value : ''}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="input-container">
                    <input type="password" id="password" formControlName="password" required/>
                    <label for="password">Password</label>
                </div>
                <div class="" *ngIf="erroresDeValidacion">
                  <div class="text-red-800">

                    <ul class="">
                      <li *ngFor="let error of erroresDeValidacion | keyvalue">
                        {{error.key === 'password' ? error.value : ''}}
                      </li>
                    </ul>
                  </div>
                </div>
                <p class=" my-8 olvide-pass">Olvide mi contraseña</p>
                  <div class="p-8 flex justify-center items-center">
                    <button class="w-64 h-14 flex-shrink-0 rounded-lg bg-yellow-400" [disabled]="loginForm.invalid" (click)="onSubmit()">
                        Ingresar
                      </button>
                  </div>
                  <div class="my-8 flex place-content-center">
                    <p class="craar-cuenta mr-2">¿Todavía no tienes una cuenta? </p> <a href=""><span style="color: #6867E9; font-weight: bold;">Crear ahora</span> </a>
                  </div>
                  <p>{{erroresComunes}}</p>
            </div>


        </form>
    </div>

  </div>

</div>

