
<div class="bg-white w-screen h-screen flex flex-row">
  <div class=" w-1/2 h-10/12 flex flex-col ml-10 my-5">

    <div class="w-full h-2/5">

        <img
                class=" w-20 h-20 md:w-32 md:h-32 ml-14 "
                src="./../../../assets/img/logo.png"
                alt=""
              />
    </div>
    <div class="w-full h-5/6 flex justify-start items-start">

        <img
                class=" w-20 h-20 md:w-9/12 md:h-full ml-16 "
                src="./../../../assets/img/3905531 1.png"
                alt=""
              />
    </div>
  </div>
  <div class="  w-1/2 flex justify-center items-center">
    <div class="form-container w-9/12 bg-white mr-10 my-5">
        <form [formGroup]="loginForm" class="p-12 flex flex-col gap-8 w-full max-w-2xl bg-white ">
            <div class="flex justify-center items-center">
                <h1 class="text-indigo-600 text-2xl font-inter font-medium break-words"> Login</h1>
            </div>
            <div class="flex flex-col">
                <div class="input-container">
                    <input formControlName="username" type="email" id="username" (input)="onUsernameInput()"  required />
                    <label for="username" class="text-dark" [ngClass]="{'active': loginForm.get('username')!.value}">Email</label>
                </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="text-red-600  text-sm">
                <div *ngIf="email.errors?.['required']">
                    <span>El email es requerido.</span>
                </div>
                <div *ngIf="email.errors?.['email']">
                    El email debe tener un formato válido.
                </div>
            </div>
                <!-- <div *ngIf="erroresDeValidacion">
                  <div class="text-red-800">
                   <ul class="error-message">
                      <li *ngFor="let error of erroresDeValidacion | keyvalue">
                        {{error.key === 'username' ? error.value : ''}}
                      </li>
                    </ul>
                  </div>
                </div> -->
                <div class="input-container ">
                    <input type="password" id="password" formControlName="password" #usernameInput
                    (input)="onUsernameInput()" required/>
                    <label for="password">Password</label>
                </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="text-red-600 text-sm">
                <div *ngIf="password.errors?.['required']">
                    <span>El password es requerido.</span>
                </div>
                <div class="text-red-600 text-sm " *ngIf="password.invalid && password.hasError('minlength')">
                  <span>La contraseña debe tener al menos 8 caracteres.</span>
                </div>
              </div>
                <!-- <div class="" *ngIf="erroresDeValidacion">
                  <div class="text-red-800">

                    <ul class="error-message">
                      <li *ngFor="let error of erroresDeValidacion | keyvalue">
                        {{error.key === 'password' ? error.value : ''}}
                      </li>
                    </ul>
                  </div>
                </div> -->
                <p class=" my-8 olvide-pass">Olvide mi contraseña</p>

                  <div class="p-8 flex justify-center items-center">
                    <button class="w-64 h-14 flex-shrink-0 rounded-lg bg-yellow-400" [disabled]="loginForm.invalid" (click)="onSubmit()">
                        Ingresar
                      </button>
                  </div>
                  <div class="my-8 flex place-content-center">
                    <p class="craar-cuenta mr-2">¿Todavía no tienes una cuenta? </p> <a routerLink="/cuenta"   ><span style="color: #6867E9; font-weight: bold;">Crear ahora</span> </a>

                  </div>
            </div>


        </form>
    </div>

  </div>

</div>

