<section class=" h-screen">

  <div class="columns-2 h-screen">
    <div class="  columns-1 inline-block  bg-blue-600 w-full ">
      <div class="mx-10 bg-red-700 mt-5 place-content-start grid">
        <img class="ml-10 logo-login" src="assets/img/logo-login.png" alt="Logo Login">
      </div>
      <div class="mx-10 my-5 bg-pink-600 place-content-start grid">
        <img class="ml-10 img-login" src="assets/img/img-login.png" alt="Imagen Formulario">
      </div>
    </div>
    <div class="place-items-center grid columns-1 bg-red-700 w-full h-full">


        <div class=" bg-lime-700 mr-10 place-items-center grid">
          <p class="titulo-login">Login</p>
          <form class="ml-1 mr-10">
            <label for="fname">First Name</label>
            <input type="text" id="fname" name="fname">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lname">
            <p class=" my-8 olvide-pass">Olvide mi contraseña</p>
            <div class="my-5 flex place-content-center">
                <button class="button button3">Iniciar sesion</button>
            </div>
            <div class="my-8 flex place-content-center">
              <p class="craar-cuenta mr-2">¿Todavía no tienes una cuenta? </p> <a> Crear ahora</a>
            </div>


          </form>



        </div>



    </div>

  </div>

</section>

