<router-outlet></router-outlet>
<ngx-ui-loader
  bgsColor= #af6ee7
  bgsPosition= "bottom-right"
  [hasProgressBar]="false"
  bgsType= "three-bounce"
  blur= 5
  delay= 0
  fastFadeOut= true
  fgsColor= #3490dc
  fgsPosition="center-center"
  fgsType= "three-bounce"
  logoPosition="center-center"
  logoUrl= ""
  masterLoaderId="master"
  overlayBorderRadius="0"
  overlayColor="rgba(40, 40, 40, 0.8)"
  pbColor= #3490dc
  pbDirection="ltr"
  text= ""
  textColor= "#FFFFFF"
  textPosition="center-center"
  maxTime=-1
  minTime= 300

></ngx-ui-loader>

	<!-- fgsType="square-jelly-box" -->
<!-- [fgsType]="three-bounce" -->

 <!-- bgsColor="#ffcc48"
	text="Espere un momento..."
	pbColor="#b12bf7"
  bgsType= "three-bounce" -->
