.active {
  background-color: #3182CE;
  color: #ffffff;


}
.active:hover {
  background-color: #1877c4;
  color: #ffffff;

}
.overlay-background {
  background-color: rgba(0, 0, 0, 0.5); /* Puedes ajustar el valor de opacidad según tus necesidades */
}
