<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <div class="ml-3">
          <a class="flex ms-2 md:me-24 ">
            <img src="../../../../assets/img/logo-nav.png" class="h-8 w-8 " alt="FlowBite Logo" />
          </a>
        </div>
      </div>
      <div class="flex items-center  ">
        <div class="items-center ms-3 mr-3">
          <div class="">
            <button type="button"
              class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
              aria-expanded="false" data-dropdown-toggle="dropdown-user">
              <span class="sr-only">Open user menu</span>
              <div
                class="relative w-8 h-8 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 flex items-center justify-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
                </svg>
              </div>
            </button>
          </div>
          <div
            class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600"
            id="dropdown-user">
            <div class="px-4 py-3" role="none">
              <p class="text-sm text-gray-900 dark:text-white" role="none">
                {{ name }} {{ surname }}
              </p>
              <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                {{ emailUser }}
              </p>
            </div>
            <ul class="py-1" role="none">
              <li>
                <a routerLink="/home/user-profile"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem"><i class="fa-solid fa-user-doctor fa-sm"></i> Mi Perfil</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Settings</a>
              </li>
              <li>
                <a href="#"
                  class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
                  role="menuitem">Apagar</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Body -->
<div class="md:flex container mx-auto h-screen">
  <div>
    <app-botones [centerName]="centerName"></app-botones>
  </div>
  <div class="flex max-h-full w-full justify-center overflow-y-scroll">
    <div class=" p-6 mt-16 w-full bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg">

      <!-- Tabla -->
      <div class="relative shadow-md  sm:rounded-lg max-h-80 ">
        <div
          class="flex rounded items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 p-4 bg-white dark:bg-gray-900">
          <div class="font-bold p-2 border rounded border-cyan-400">
            {{ centerName }}

          </div>
          <label for="table-search" class="sr-only">Search</label>
          <div class="relative">
            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
              </svg>
            </div>
            <input type="text" id="table-search-users"
              class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              placeholder="Search for users">
          </div>
        </div>
        <div *ngIf="patientsPage" class="relative overflow-x-auto shadow-md sm:rounded-lg overflow-y-auto max-h-80">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class=" text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="p-4 max-w-14">
                  <div class="flex items-center">
                    <input id="checkbox-all-search" type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-all-search" class="sr-only">checkbox</label>
                  </div>
                </th>
                <th scope="col" class="px-6 py-3 max-w-14">
                  Nombre
                </th>
                <th scope="col" class="px-6 py-3 max-w-14">
                  Edad
                </th>
                <th scope="col" class="px-6 py-3 max-w-14">
                  Contacto
                </th>
                <th scope="col" class="px-6 py-3 max-w-14">

                  Configuración
                </th>
              </tr>
            </thead>
            <tbody class="">
              <ng-container *ngIf="patientsPage.content.length === 0">
                <tr>
                  <td colspan="15" class="px-6 py-4 text-center">No hay pacientes</td>
                </tr>
              </ng-container>
              <tr  *ngFor="let patient of patientsPage.content; let i = index"
                class=" bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4 max-w-14">
                  <div class="flex items-center">
                    <input id="checkbox-table-search-1" type="checkbox"
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                  </div>
                </td>
                <th scope="row" class="flex max-w-14 items-center py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <img class="w-8 h-8 object-cover rounded-full " src="/assets/img/avatar.png" alt="">
                  <div class="ps-3">
                      <div class="text-base font-semibold">{{ patient.name }} {{ patient.surname }}</div>
                      <div class="font-normal text-gray-500">{{ patient.email }}</div>
                  </div>
                </th>
                <td class="px-6 py-4 max-w-14">
                  34
                </td>
                <td scope="row" class="flex max-w-14 items-center  py-4 text-gray-900 whitespace-nowrap dark:text-white">
                  <img class="w-8 h-8 object-cover rounded-full " src="/assets/img/whatsap.png" alt="">
                  <div class="ps-3">
                      <div class="text-base font-semibold">{{ patient.cellphone}}</div>
                      <div class="font-normal text-gray-500">{{ patient.dni }} | {{ patient.healthInsurance }}</div>
                  </div>
                </td>
                <td class="px-6 py-4 max-w-14">
                  <button type="button" [attr.data-tooltip-target]="'tooltip-default-' + i" class="text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                  <div [attr.id]="'tooltip-default-' + i" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Modificar datos
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>

                  <button type="button" [attr.data-tooltip-target]="'tooltip-medical-' + i" class="text-yellow-400 hover:text-white border border-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-yellow-300 dark:text-yellow-300 dark:hover:text-white dark:hover:bg-yellow-400 dark:focus:ring-yellow-900">
                    <i class="fa-solid fa-suitcase-medical"></i>
                  </button>
                  <div [attr.id]="'tooltip-medical-' + i" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Ir a ficha del paciente
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                  <button type="button" [attr.data-tooltip-target]="'tooltip-turns-' + i" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-2 py-1.5 text-center me-1 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    <i class="fa-solid fa-laptop-medical"></i>
                  </button>
                  <div [attr.id]="'tooltip-turns-' + i" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-xs font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                    Histórial de turnos
                    <div class="tooltip-arrow" data-popper-arrow></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Paginado -->
      <div class="mt-20" *ngIf="patientsPage">
        <div class="flex flex-col items-center">
          <!-- Help text -->
          <span class="text-sm text-gray-700 dark:text-gray-400">
            Mostrando <span class="font-semibold text-gray-900 dark:text-white">{{ patientsPage.number *
              patientsPage.size + 1 }}</span>
            de <span class="font-semibold text-gray-900 dark:text-white">{{ (patientsPage.number + 1) *
              patientsPage.size }}</span>
            de <span class="font-semibold text-gray-900 dark:text-white">{{ patientsPage.totalElements }}</span>
            Pacientes
          </span>
          <div class="inline-flex mt-2 xs:mt-0">
            <!-- Buttons -->
            <button (click)="onPageChange(page - 1)" [disabled]="page === 0"
              class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900 dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-blue-700 dark:hover:text-white">
              <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 5H1m0 0 4 4M1 5l4-4" />
              </svg>
              Prev
            </button>
            <button (click)="onPageChange(page + 1)" [disabled]="page === patientsPage.totalPages - 1"
              class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900 dark:bg-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-blue-700 dark:hover:text-white">
              Next
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9" />
              </svg>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
